.media-box{
    flex:1;
    box-sizing: border-box;
    margin: 10px 0 15px 0;
    background: #1d1e1f;
    display: flex;
    flex-direction: column;
}

.media-box .media-box{
    flex: 1;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    align-items: flex-end;
    height: 175px;
}

.imgDefault {
    height: 70px;
}

.media-box .media-box .medias-wrapper{
    width: 100%;
    max-height: 100%;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.media-box .media-box .medias-wrapper .media-wrapper{
    margin: 3px 0;
    width: 100%;
}

.media-box .media-box .item{
    display: flex;
    background: #375b5f;
    width: 100%;
    height: 80px;
    align-self: flex-start;
    border-radius: 3px;
    padding: 5px;
}

.item .title {
    width: 260px;
}

.vote {
    float: right;
    background-color: #4CAF50;
    width: 80px;
    height: 100%;
    border: 0;
    border-radius: 12px;
    color: white;
}

.vote:hover {
    color: #4CAF50;;
    background-color: white;
}

.unvote {
    float: right;
    background-color: rgba(188, 32, 32, 0.7);
    width: 80px;
    height: 100%;
    border: 0;
    border-radius: 12px;
    color: white;
}

.unvote:hover {
    color: rgb(185, 49, 24);
    background-color: white;
}

.media-box .media-box .media.self{
    background: #5d5e5f;
    float: right;
}

.media-box .input-box{
    background: #191919;
    height: 50px;
    width: 100%;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    border-top:1px solid #373737;
    box-shadow: 0px -10px 15px 0px rgba(0,0,0,0.2);
}

.media-box .input-box .input{
    outline: none;
    border: 0;
    padding: 0 25px;
    width: 100%;
    height: 100%;
    color: #f0f0f0;
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: 300;
    background: transparent;
    -webkit-font-smoothing: antialiased;
}

.media-box .input-box .submit{
    background: #343537;
    border: none;
    border-left: 1px solid #737373;
    color: #f0f0f0;
    font-size: 1.1rem;
    padding: 0 10px;
    -webkit-appearance: none;
}

.media-box .input-box .submit:hover{
    cursor: pointer;
    background: #434446;
}

.vote-count {
    font-weight: 500;
    font-size: 20px;
    padding: 5px;
}

/*==================================*/
/* Media queries */
/*----------------------------------*/

@media screen and (max-width: 46.25em){
    .media-box .input-box .input,
    .media-box .input-box .submit,
    .media-box .media-box .media{
        font-size: 0.75rem;
    }
}